# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
[Ed]itor/
sysinfo.txt
*.stackdump

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
Assets/Editor.meta
Assets/Editor/Doxygen.meta
Assets/Editor/Doxygen/DoxygenWindow.cs
Assets/Editor/Doxygen/DoxygenWindow.cs.meta
Assets/Editor/Doxygen/ReadMe.txt
Assets/Editor/Doxygen/Resources/LightTheme/tabs.css
Assets/Editor/Doxygen/Resources/LightTheme/background_navigation.png
Assets/Editor/Doxygen/Resources/DarkTheme/img_downArrow.png.meta
Assets/Editor/Doxygen/ReadMe.txt.meta
Assets/Editor/Doxygen/Resources/BaseDoxyfile.txt
